body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  /* bg color only shows in desktop view */
  background-color: hsl(30, 54%, 90%);
}

main {
  padding: 20px;
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

p {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  padding: 10px 0;
  color: hsl(24, 5%, 18%);
}

.main-desktop {
  background-color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
