body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  /* bg color only shows in desktop view */
  background-color: hsl(30, 54%, 90%);
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

main {
  padding: 20px 30px;
  font-family: "Outfit", sans-serif;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

p {
  font-size: 16px;
}

p,
li,
th {
  color: hsl(30, 10%, 34%);
}

li {
  padding-left: 1.2em;
}

li:not(:last-child) {
  margin-bottom: 1.2em;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

ol li::marker {
  font-weight: 700;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  padding: 10px 0;
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
}

section {
  padding-bottom: 20px;
}

section:not(:last-child) {
  border-bottom: solid 1px hsl(30, 18%, 87%);
}

.main-desktop {
  background-color: white;
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 20px 30px;
  border-radius: 5%;
}

.prep-heading {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-size: 1.25em;
}

.wt-bolder {
  font-weight: 700;
}

#nutrition p {
  padding: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: solid 1px hsl(30, 18%, 87%);
}

th {
  padding: 0.8em 2em;
  width: 50%;
}

th {
  text-align: left;
  font-weight: 400;
}

td {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
