@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

p {
  font-size: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
